In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('sp500.xlsx')
df

    symbol                    name   price  exp_return_3m  standard_deviation
0        A    Agilent Technologies   78.52          10.40            3.271580
1      AAL    American Airlines Gp   28.23           9.29            6.263227
2      AAP  Advance Auto Parts Inc  161.74          19.47           15.763817
3     AAPL               Apple Inc  263.19          25.11           17.757908
4     ABBV              Abbvie Inc   87.20          31.31           26.520827
..     ...                     ...     ...            ...                 ...
498    XYL               Xylem Inc   77.47           1.88            1.492430
499    YUM             Yum! Brands   98.12         -15.83           13.273537
500    ZBH  Zimmer Biomet Holdings  142.57           3.35            3.463266
501   ZION           Zions Bancorp   48.88          20.76           15.731566
502    ZTS         Zoetis Inc Cl A  119.56          -5.15            4.165944

[503 rows x 5 columns]

In [5]:
df.shape[0]

503

In [6]:
min(df['price'])

8.73

In [7]:
pip_constraints_example = {
    "Risk-Tolerance" : 1,
    "Budget"         : 10000
}

In [9]:
pip_decision_variables_example = {
    "Symbols"             : df['symbol'],
    "Assets"              : df['name'],
    "Prices"              : df['price'],
    "Expected-Returns"    : df['exp_return_3m'],
    "Standard-Deviations" : df['standard_deviation']
}

In [10]:
min(pip_decision_variables_example["Prices"])

8.73

In [17]:
n_max = (pip_constraints_example["Budget"]+1) // min(pip_decision_variables_example["Prices"])
n_max

1145.0